* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.ma-1 {
  margin: 1%;
}

.padding-for-1 {
  padding: 1%;
}

.ma-2 {
  margin: 2%;
}

.padding-for-2 {
  padding: 2%;
}

.ma-3 {
  margin: 3%;
}

.padding-for-3 {
  padding: 3%;
}

.ma-4 {
  margin: 4%;
}

.padding-for-4 {
  padding: 4%;
}

.ma-5 {
  margin: 5%;
}

.padding-for-5 {
  padding: 5%;
}

.ma-6 {
  margin: 6%;
}

.padding-for-6 {
  padding: 6%;
}

.ma-7 {
  margin: 7%;
}

.padding-for-7 {
  padding: 7%;
}

.ma-8 {
  margin: 8%;
}

.padding-for-8 {
  padding: 8%;
}

.ma-9 {
  margin: 9%;
}

.padding-for-9 {
  padding: 9%;
}

.container__cards--titulo {
  width: 100%;
  height: 100px;
  background-color: #c783c3;
  display: flex;
  opacity: 80%;
}
.container__cards--titulo .titulo_de--cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #70286f;
  font-family: italic;
  font-size: 300%;
}

.box_card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.box_card .containers_cards {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 70%;
  background-color: #c783c3;
  flex-direction: column;
  margin: 2%;
  border-radius: 2%;
}
.box_card .containers_cards:hover {
  scale: 1.2;
}
.box_card .parrafos__card {
  color: #70286f;
  margin: 5%;
  font-size: 200%;
  font-family: "Times New Roman", Times, serif;
}
.box_card .imagen_card {
  width: 100%;
  height: 70%;
  border-radius: 180px;
  padding: 10%;
}

.nav-colorback {
  background-color: rgb(167, 111, 216);
}

.nav-align {
  display: flex;
  justify-content: center;
  font-size: 200%;
  top: 0;
}

.navbar-nav {
  display: flex;
  gap: 10vh;
}

.gallery-home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6a0e1;
  border: solid;
  margin: 10%;
  font-size: 1.5cm;
}

.grid_container {
  max-width: 1500px;
  margin: 100px auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 5px solid rgb(196, 155, 196);
  grid-gap: 100px;
}
.grid_container .one {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
  border-radius: 2%;
}
.grid_container .dibujo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2%;
}
.grid_container .dibujo:hover {
  scale: 1.3;
}

.pie-pagina {
  width: 100%;
  opacity: 70%;
  background-color: rgb(167, 111, 216);
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #70286f;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 25px;
  font-size: 30px;
}
.pie-pagina .grupo-1 .box p {
  color: #70286f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .rgbindex {
  color: rgb(58, 6, 58);
}
.pie-pagina .grupo-1 .figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .figure .img {
  width: 250px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 10%;
  height: 10%;
  line-height: 10%;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-1 .red-social a .logos-footer {
  width: 60%;
  height: 60%;
}

.grupo-2 {
  background-color: #c783c3;
  padding: 15px 10px;
  font-family: italic;
  text-align: center;
  color: #70286f;
}
.grupo-2 small {
  font-size: 15px;
}

body {
  background-image: url(../multimedia/img-home/fondohome.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section__main-header {
  display: flex;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  height: 100%;
  padding-top: 1%;
}
.section__main-header .titulo {
  color: #e6a0e1;
  font-style: italic;
  font-size: 400%;
  margin-left: 1%;
}
.section__main-header .nombre {
  color: #c783c3;
  margin-right: 3vh;
  padding-top: 1.2%;
  font-size: 200%;
}

.nombre__aj {
  color: #c783c3;
  margin-left: 1%;
  padding-bottom: 1%;
}

.video__container {
  padding: 1%;
}
.video__container .video_youtube {
  width: 80%;
  height: 70vh;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #c783c3, 0 0 30px #c783c3, 0 0 40px #c783c3, 0 0 50px #c783c3, 0 0 60px #c783c3;
  margin: 4% 10% 5% 10%;
  background-color: black;
  object-fit: cover;
  object-fit: contain;
  border-radius: 2%;
}

#bodycontac {
  background-image: url(../multimedia/img-contacto/fondocontac.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section__titulo--contact {
  background-color: #c783c3;
  opacity: 80%;
  width: 100%;
  padding: auto;
}
.section__titulo--contact .titulo__contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #70286f;
  font-family: italic;
  font-size: 400%;
}

.nav__links--box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  padding: 1%;
}
.nav__links--box .links__nav {
  width: 250%;
  height: 300%;
  padding: 60%;
  margin: 15%;
  border-radius: 20px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #70286f, 0 0 30px #70286f, 0 0 40px #70286f, 0 0 50px #70286f, 0 0 60px #70286f;
}
.nav__links--box .links__nav:hover {
  scale: 1.5;
}

#bodytos {
  background-image: url(../multimedia/img-t.o.s/fondotos.jpeg);
}

.section__titulo--tos {
  background-color: #c783c3;
  opacity: 80%;
  width: 100%;
  padding: auto;
}
.section__titulo--tos .titulo__tos {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #70286f;
  font-family: italic;
  font-size: 400%;
}

.parrafos__tos {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6a0e1;
  margin-left: auto;
  padding: 2%;
  line-height: 100%;
  font-size: 200%;
  z-index: 1;
  line-height: 2;
  font-weight: bold;
  text-shadow: 1px 0 0 #70286f, -1px 0 0 #70286f, 0 1px 0 #70286f, 0 -1px 0 #70286f;
}

#parrafo__calavera {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6a0e1;
  line-height: 100%;
  margin-left: auto;
  padding: 2%;
  font-size: 200%;
  z-index: 1;
  line-height: 2;
  font-weight: bold;
  text-shadow: 1px 0 0 #70286f, -1px 0 0 #70286f, 0 1px 0 #70286f, 0 -1px 0 #70286f;
  text-decoration: line-through;
}

#bodyprices {
  background-image: url(../multimedia/img-prices/fondoprice.jpeg);
}

/* HEADER */
#titulo__precios {
  width: 5%;
  height: 20%;
  font-family: italic;
  color: #e6a0e1;
  display: block;
  margin-left: 6%;
  background-color: #70286f;
  font-size: 3cm;
  transform: translateY(30%);
}

/* MAIN SECCION  */
.container__prices--contenido-principal {
  padding-top: 5%;
}
.container__prices--contenido-principal .div__container--prices {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c783c3;
  color: #70286f;
  width: 100%;
  font-size: 1.3cm;
  gap: 20vw;
}
.container__prices--contenido-principal .div__container--fotos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
  gap: 10vw;
}
.container__prices--contenido-principal .div__container--fotos .muestra__de--fotos {
  width: 20%;
  height: 20%;
  border-radius: 1%;
}
.container__prices--contenido-principal .div__container--fotos .muestra__de--fotos:hover {
  scale: 1.5;
}

/* PRECIOS DE BODY SECCION 1 */
.container__prices--secundario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border-radius: 2%;
}

#seccion__precios--head {
  background-color: #c783c3;
  border-left: 5px solid #e6a0e1;
  border-radius: 2%;
}
#seccion__precios--head .subtitulo__head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: italic;
  color: #70286f;
  font-size: 300%;
}
#seccion__precios--head .subseccion__precios--head {
  width: 100%;
  height: 100%;
  color: #70286f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 40%;
  font-size: 200%;
}

/* PRECIOS DE HALF BODY SECCION 2 */
#seccion__precios--halfbody {
  background-color: #c783c3;
  border-left: 5px solid #e6a0e1;
  border-radius: 2%;
}
#seccion__precios--halfbody .subtitulo__halfbody {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: italic;
  color: #70286f;
  font-size: 300%;
}
#seccion__precios--halfbody .subseccion__precios--halfbody {
  width: 100%;
  height: 100%;
  padding-top: 40%;
  color: #70286f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
}

/* PRECIOS DE FULL BODY SECCION 3 */
#seccion__precios--fullbody {
  background-color: #c783c3;
  border-left: 5px solid #e6a0e1;
  border-radius: 2%;
}
#seccion__precios--fullbody .subtitulo__fullbody {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: italic;
  color: #70286f;
  font-size: 300%;
}
#seccion__precios--fullbody .subseccion__precios--fullbody {
  width: 100%;
  height: 100%;
  color: #70286f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 40%;
  font-size: 200%;
}

.backtohome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(44, 0, 92);
  padding-top: 5%;
  margin-right: 5%;
  font-size: 200%;
}

.bodyabout {
  background-image: url(../multimedia/img-aboutme/fondoabout.jpeg);
}

.aboutme__section1 {
  display: flex;
  justify-content: space-between;
  align-items: auto;
  background-color: #c783c3;
  opacity: 70%;
}
.aboutme__section1 .titulo__subtitulo--about {
  color: #70286f;
  font-family: italic;
  margin: 1%;
  font-size: 3.5rem;
}
.aboutme__section1 .titulo__subtitulo--about- {
  color: #70286f;
  font-family: italic;
  margin: 2%;
  font-size: 2rem;
}

.articulo__1 {
  display: flex;
  justify-content: left;
  align-items: start;
}
.articulo__1 .articulo__parrafo1 {
  background-color: #c783c3;
  color: #70286f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1%;
  opacity: 80%;
  margin-top: 3%;
  margin-left: 1%;
  font-size: 0.8cm;
  line-height: 1.5;
}
.articulo__1 .articulo__parrafo1::first-letter {
  font-size: 200%;
}
.articulo__1 .foto__articulo1 {
  width: 100%;
  height: 60vh;
  background: fixed;
  object-fit: cover;
  object-position: right;
  z-index: 1;
  margin: 2%;
  padding-top: 1%;
  border-radius: 2%;
}

.articulo__2 {
  display: flex;
  justify-content: left;
  align-items: start;
}
.articulo__2 .articulo__parrafo2 {
  width: 80%;
  height: auto;
  background-color: #c783c3;
  color: #70286f;
  display: inline-block;
  border-radius: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8cm;
  line-height: 1.5;
  margin: 1%;
  transform: translateY(20%);
  opacity: 80%;
}
.articulo__2 .articulo__parrafo2::first-letter {
  font-size: 200%;
}
.articulo__2 .foto__articulo2 {
  width: 10%;
  height: 60vh;
  z-index: 1;
  margin: 1%;
  padding-top: 1%;
  border-radius: 3%;
  background: fixed;
  object-fit: cover;
  object-position: right;
}

@media only screen and (max-width: 600px) {
  .section__main-header {
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .titulo {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .nombre {
    font-size: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container__cards--titulo {
    width: 100%;
    height: 100px;
    background-color: #c783c3;
    display: flex;
    opacity: 80%;
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .box_card {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .box_card .containers_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200%;
    flex-direction: column;
    margin-left: 10%;
  }
  .box_card .parrafos__card {
    margin: 5%;
    font-size: 150%;
  }
  .box_card .imagen_card {
    width: 70%;
    height: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .grid_container {
    max-width: 400px;
    margin: 100px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 5px solid rgb(196, 155, 196);
    grid-gap: 2%;
  }
}
@media only screen and (max-width: 1136px) {
  .dibujo:hover {
    scale: 1.4;
  }
}
@media only screen and (max-width: 1136px) {
  .gallery-home {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1cm;
  }
}
@media only screen and (max-width: 1136px) {
  .aboutme__section1 {
    font-size: 10px;
    line-height: 1;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1136px) {
  .articulo__1 {
    flex-direction: column;
    display: flex;
  }
  .articulo__1 .articulo__parrafo1 {
    font-size: 20px;
    line-height: 1;
    display: flex;
    flex-direction: column;
  }
  .articulo__1 .foto__articulo1 {
    width: 95%;
    height: 90%;
    margin: 3%;
  }
}
@media only screen and (max-width: 1136px) {
  .articulo__2 {
    flex-direction: column-reverse;
    display: flex;
    margin: 1%;
  }
  .articulo__2 .articulo__parrafo2 {
    width: 100%;
    font-size: 20px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    transform: translateY(-3%);
    margin: 1%;
  }
  .articulo__2 .foto__articulo2 {
    width: 90%;
    height: 90%;
    margin: 3%;
  }
}
@media only screen and (max-width: 1136px) {
  .colortitle {
    font-size: 200%;
  }
}
@media only screen and (max-width: 1136px) {
  .parrafos__tos {
    font-size: 120%;
  }
}
@media only screen and (max-width: 1136px) {
  #parrafo__calavera {
    font-size: 120%;
  }
}
@media only screen and (max-width: 1136px) {
  .titucontact {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1136px) {
  .navcontmain {
    display: flex;
    justify-content: center;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1136px) {
  .container__prices--contenido-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container__prices--contenido-principal .div__container--prices {
    background-color: #c783c3;
    color: #70286f;
    width: 100%;
    font-size: 2em;
  }
  .container__prices--contenido-principal .div__container--fotos {
    gap: none;
  }
}
@media only screen and (max-width: 1136px) {
  .container__prices--secundario {
    margin-left: 20%;
    flex-direction: column;
    width: 60vw;
  }
}
@media only screen and (max-width: 1136px) {
  .homeprecios {
    color: gray;
    font-size: 1cm;
    width: 50%;
    padding-top: 15%;
    border-radius: 80%;
    margin-left: 1%;
  }
}
@media screen and (max-width: 1136px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
