//MIXIN PARA FLEX

@mixin flex($display, $justify, $align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

//MIXIN PARA WIDTH Y HEIGHT

@mixin ancho-alto($width, $height){
    width: $width;
    height: $height;
}

// MIXI PARA LOS TITULOS/SEPARACIONES DE SECCIONES EN EL INDEX

@mixin index__container-titulos{
    @include ancho-alto(100%, 100%);
    background-color: $violeta-intermedio;
    display: flex;
    opacity: 80%;
}

@mixin index__titulos{
    @include flex (flex, center,center);
    @include ancho-alto (100%, 100%);
    color: $violeta-oscuro;
    font-family: $font-titulos;
    font-size: 300%;
}

@mixin contacytops__container-titulos{
    background-color: $violeta-intermedio;
    opacity: 80%;
    width: 100%;
    padding: auto;
}

@mixin titulos__contactytos{
   @include flex(flex,center,center);
   color: $violeta-oscuro;
   font-family: $font-titulos;
   font-size: 400%;
  }