//MEDIAQUERIES INDEX

@media only screen and (max-width: 600px) {
    .section__main-header{
        display: flex;
        flex-direction: column;
        margin: 2%;
        font-size: 70%;
    }
}
@media only screen and (max-width: 600px) {
    .titulo{
        font-size: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .nombre{
        font-size: 100%;
    }
}

// TITULOS
@media only screen and (max-width: 600px){
    .container__cards--titulo{
        @include index__container-titulos;
        font-size: 70%;
        }
    }

// MEDIAQUERIES CARDS   
@media only screen and (max-width: 600px) {
    .box_card{
        @include ancho-alto(100%, 100%);
        flex-direction: column;

    .containers_cards{
        @include flex(flex, center, center);
        @include ancho-alto(80%,200%);
        flex-direction: column;
        margin-left: 10%;
    }

    .parrafos__card{
        margin:5%;
        font-size: 150%;
   }
     .imagen_card{ 
        @include ancho-alto(70%, 70%);
     }
 }
}
// MEDIAQUERIES GALLERY

@media only screen and (max-width: 600px) {
    .grid_container{
        max-width: 400px;
        margin: 100px auto;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border: 5px solid rgb(196, 155, 196);
        grid-gap: 2%;

    }
}


@media only screen and (max-width: 1136px) {
    .dibujo:hover{
        scale: 1.4;

    }
}
@media only screen and (max-width: 1136px) {
    .gallery-home{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1cm;
    }

}

//MEDIAQUERIES ABOUTME

@media only screen and (max-width: 1136px){
    .aboutme__section1{
        font-size: 10px;
        line-height: 1;
        display: flex;
        flex-direction: column;
    }
}
//ARTICULO 1

@media only screen and (max-width: 1136px){
    .articulo__1{
        flex-direction: column;
        display: flex;
        .articulo__parrafo1{
            font-size: 20px;
            line-height: 1;
            display: flex;
            flex-direction: column;
        }
    

    .foto__articulo1{
        @include ancho-alto (95%, 90%);
         margin: 3%;
        }
    }
}

// ARTIULO 2
@media only screen and (max-width: 1136px){
    .articulo__2{
        flex-direction: column-reverse;
        display: flex;
        margin: 1%;
    
            .articulo__parrafo2{
                width: 100%;
                font-size: 20px;
                line-height: 1;
                display: flex;
                flex-direction: column;
                transform: translateY(-3%);
                margin: 1%;
          }
        .foto__articulo2{
            @include ancho-alto (90%, 90%);
            margin: 3%;
         }
       }
    }

//MEDIQUERIES TERMINOS Y CONDICIONES

@media only screen and (max-width: 1136px){
    .colortitle{
        font-size: 200%;
    }
}

@media only screen and (max-width: 1136px){
    .parrafos__tos{
        font-size: 120%;
    }
}

@media only screen and (max-width: 1136px){
    #parrafo__calavera{
        font-size: 120%;
    }
}

//CONTACTOS

@media only screen and (max-width: 1136px){
    .titucontact{
      display: flex;
      justify-content: center;
    }
  
}

@media only screen and (max-width: 1136px){
    .navcontmain{
      display: flex;
      justify-content: center;
      margin-right: 5%;
    }
  
}

//PRECIOS


@media only screen and (max-width:1136px) {
    .container__prices--contenido-principal{
        display: flex;
        flex-direction: column;
        width: 100%;

        .div__container--prices{
            background-color: $violeta-intermedio;
            color: $violeta-oscuro;
            width: 100%;
            font-size: 2em;
           
        }

        .div__container--fotos{
            gap: none;
     }
}
}

@media only screen and (max-width:1136px) {
    .container__prices--secundario{
        margin-left: 20%;
       flex-direction: column;
       width: 60vw;
    }
}


@media only screen and (max-width:1136px) {
    .homeprecios{
        color: gray;
        font-size: 1cm;
        width: 50%;
        padding-top: 15%;
        border-radius: 80%;
        margin-left: 1%;
        
        
     }
}



//MEDIAQUERIES DEL FOOTER

@media screen and (max-width:1136px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}