//GALERIA DE INDEX
.gallery-home{
    @include flex(flex,center,center);
    color: $color-titulos;
    border: solid;
    margin: 10%;
    font-size: 1.5cm;
}

// EL DISPLAY GRID

.grid_container{
    max-width: 1500px;
    margin: 100px auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 5px solid rgb(196, 155, 196);
    grid-gap: 100px;

    .one{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        object-fit: cover;
        border-radius: 2%;
    }

    .dibujo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2%;
    
        &:hover{
            scale: 1.3;
        }
    }
}


