//NAVBAR


.nav-colorback{
    background-color:rgb(167, 111, 216);
   }    

   .nav-align{
    display: flex;
    justify-content: center;
    font-size: 200%;
    top: 0;
   
   }
   
   .navbar-nav{
       display: flex;
       gap: 10vh;
   }
