//  PALETA DE COLORES

$color-titulos: rgb(211, 177, 241);
$color-subtitulos: rgb(167, 111, 216);
$color-parrafos: #E5F04C;

// FONTS DE TITULOS Y PARRAFOS

$font-titulos: 'Times New Roman', Times, serif;
$font-parrafos: Verdana, Geneva, Tahoma, sans-serif;