//  PALETA DE COLORES
$violeta-muyoscuro:#462645;
$violeta-oscuro:#70286f;
$color-subtitulos:#964d93;
$color-parrafos:#a967a5;
$violeta-intermedio:#c783c3;
$color-titulos: #e6a0e1;




// FONTS DE TITULOS Y PARRAFOS

$font-titulos:italic;
$font-subtitulos: 'Times New Roman', Times, serif;
$font-parrafos: Verdana, Geneva, Tahoma, sans-serif;